# templates/mongod.conf.j2

# MongoDB Configuration File

systemLog:
  destination: {{ merged_config['systemLog']['destination'] }}
  path: {{ merged_config['systemLog']['path'] }}
  logAppend: {{ merged_config['systemLog']['logAppend'] }}

net:
  port: {{ merged_config['net']['port'] }}
  bindIp: {{ merged_config['net']['bindIp'] }}
{% if merged_config['net']['bindIpAll'] is defined %}
  bindIpAll: {{ merged_config['net']['bindIpAll'] }}
{% endif %}

security:
{% if merged_config['security']['clusterAuthMode'] is defined %}
  clusterAuthMode: {{ merged_config['security']['clusterAuthMode'] }}
{% endif %}
  authorization: {{ merged_config['security']['authorization'] }}
{% if merged_config['security']['keyFile'] is defined %}
  keyFile: {{ merged_config['security']['keyFile'] }}
{% endif %}
{% if merged_config['security']['transitionToAuth'] is defined %}
  transitionToAuth: {{ merged_config['security']['transitionToAuth'] }}
{% endif %}
{% if merged_config['security']['javascriptEnabled'] is defined %}
  javascriptEnabled: {{ merged_config['security']['javascriptEnabled'] }}
{% endif %}

storage:
  dbPath: {{ merged_config['storage']['dbPath'] }}
  journal:
    commitIntervalMs: {{ merged_config['storage']['journal']['commitIntervalMs'] }}
  directoryPerDB: {{ merged_config['storage']['directoryPerDB'] }}
  syncPeriodSecs: {{ merged_config['storage']['syncPeriodSecs'] }}
  engine: {{ merged_config['storage']['engine'] }}
  wiredTiger:
    engineConfig:
      journalCompressor: {{ merged_config['storage']['wiredTiger']['engineConfig']['journalCompressor'] }}
      directoryForIndexes: {{ merged_config['storage']['wiredTiger']['engineConfig']['directoryForIndexes'] }}
      maxCacheOverflowFileSizeGB: {{ merged_config['storage']['wiredTiger']['engineConfig']['maxCacheOverflowFileSizeGB'] }}
    collectionConfig:
      blockCompressor: {{ merged_config['storage']['wiredTiger']['collectionConfig']['blockCompressor'] }}
    indexConfig:
      prefixCompression: {{ merged_config['storage']['wiredTiger']['indexConfig']['prefixCompression'] }}

operationProfiling:
  mode: {{ merged_config['operationProfiling']['mode'] }}
  slowOpThresholdMs: {{ merged_config['operationProfiling']['slowOpThresholdMs'] }}
  slowOpSampleRate: {{ merged_config['operationProfiling']['slowOpSampleRate'] }}

sharding:
  archiveMovedChunks: {{ merged_config['sharding']['archiveMovedChunks'] }}
